/*----------
  COMMON
-----------*/

body{
    font-family: 'Roboto', sans-serif;
}

/*----------
  HEADER
-----------*/

header{
  height: 3.75rem;
  z-index: 100;
}

.ms-row-height{
  height: 3.75rem;
}

/*----------
  ASIDE
-----------*/

aside{
  width: 4.6875rem;
  height: calc(100vh - 3.75rem);
  background-color: #051e34; 
}

.ms-aside-row{
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  height: calc(100vh - 3.75rem);
}

.ms-aside-top{
  width: 100%;
  height: 50%;
}

.ms-nav-link-top{
  display: flex;
  justify-content: center;
}

.ms-aside-bottom{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}

/* Responsive md  */
@media screen and (min-width: 992px){
  aside{
    width: 12.5rem;
  }
}

/*----------
  MAIN
-----------*/

main{
  width: calc(100vw - 4.6875rem);
  height: calc(100vh - 3.75rem);
  overflow-y: auto;
  flex-grow: 1;
}

.main-head{
  color: white;
  background-color: #1c71e8;
}


