/*----------
  COMMON
-----------*/

body{
    font-family: 'Roboto', sans-serif;
}

/*----------
  HEADER
-----------*/

header{
  height: 5rem;
  z-index: 100;
}

.ms-row-height{
  height: 5rem;
}

/*----------
  ASIDE
-----------*/

aside{
  width: 4.6875rem;
  height: calc(100vh - 5rem);
  background-color: bisque; 
}

/* Responsive md  */
@media screen and (min-width: 992px){
  aside{
    width: 12.5rem;
  }
}

/*----------
  MAIN
-----------*/

main{
  width: calc(100vw - 4.6875rem);
  height: calc(100vh - 5rem);
  overflow-y: auto;
  flex-grow: 1;
  background-color: blueviolet;
}
